<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit employees</title>
</head>
<body>
    <h1>Edit Employees email Id as per employee: <%= employee1._id %></h1>
    <form method="POST" action="/employees/<%=employee1._id %>?_method=PUT">
        <textarea name="email" id="" cols="25" rows="7"><%= employee1.email %></textarea><br><br>
        <button>Update</button>
    </form>

</body>
</html>